/*------------
      RESET   
------------*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*------------
     TEXT   
------------*/

body {
    font-family: 'Montserrat', sans-serif;
}

.logo h1 {
    display: inline-block;
    color: white;
    z-index: 12;
}

.playlist h3 {
    display: block;
    color: white;
    text-transform: uppercase;
    font-size: 16px;
    padding-left: 15px;
    padding-top: 10px;
}

.name-Playlist ul li {
    color: #717171;
    list-style: none;
    font-weight: 600;
    padding: 5px 15px;
    font-size: 14px;
}

.user h3 {
    color: white;
    font-size: 16px;
}

.fa-circle-down {
    font-size: 12px;
    color: #989898;
}

/*------------
    BUTTONS   
------------*/

.upgrade {
    text-transform: uppercase;
    padding: 5px 20px;
    border-radius: 20px;
    color: #e1e1e2;
    background-color: inherit;
    border: 1px solid #e1e1e2;
    margin-right: 4px;
    cursor: pointer;
}

.btn-List {
    color: #a3a3a3;
    font-size: 36px;
    background-color: black;
    border: none;
    padding-left: 15px;
    padding-top: 5px;
    cursor: pointer;
}

/*------------
    COMMONS   
------------*/

header {
    width: 100%;
    height: 60px;
    background-color: rgba(0, 0, 0, 0.9);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: fixed;
}

.side-Bar {
    display: flex;
    width: 200px;
    height: calc(100vh - 80px);
    background-color: black;
    z-index: 12;
    flex-direction: column;
    overflow-y: auto;
    position: relative;
}


.logo {
    height: 60px;
    display: flex;
    align-items: center;
    gap: 5px;
    z-index: 12;

}

.logo>img {
    margin-left: 10px;
    filter: invert(1);
}


.nav {
    display: block;
    width: 100%;
    padding: 5px 15px;
    color: white;
    text-decoration: none;
    font-size: 14px;
    cursor: pointer;
}

.nav:first-of-type {

    border-left: 2px solid #adff2f;
}

footer {
    width: 100%;
    height: 80px;
    background-color: #282828;
}

.btn-Play {
    display: flex;
    align-items: center;
    color: #717171;
    font-weight: 600;
    gap: 5px;
    cursor: pointer;
}

.install a {
    color: #717171;
    text-decoration: none;
    padding-left: 15px;
    font-weight: 600;
    font-size: 14px;
}

.icon {
    width: 100%;
    display: flex;
    gap: 5px;
    align-items: center;
    padding: 10px 0 0 15px;
}

.icon img {
    width: 25px;
    background-color: #717171;
    border-radius: 50%;
}