/*------------
      RESET   
------------*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*------------
     TEXT   
------------*/

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #141922;
    color: #878787;
}


.logo h1 {
    display: inline-block;
    color: white;
    z-index: 12;
}

.playlist h3 {
    display: block;
    color: white;
    text-transform: uppercase;
    font-size: 16px;
    padding-left: 15px;
    padding-top: 10px;
}

.name-Playlist ul li {
    color: #717171;
    list-style: none;
    font-weight: 600;
    padding: 5px 15px;
    font-size: 14px;
}

.content h2 {
    color: white;
    display: block;
    padding: 20px 10px;
}

.user h3 {
    color: white;
    font-size: 14px;
}

.content h4 {
    font-size: 14px;
    padding: 5px 10px 20px;
}

h5 {
    color: white;
}

.fa-circle-down {
    font-size: 12px;
    color: #989898;
}

.fa-circle-play {
    font-size: 25px;
}

.col-left h5 {
    color: white;
    font-size: 12px;
}

.band-name span {
    color: #878787;
    font-size: 10px;
    font-weight: 600;
}

.icons {
    color: #878787;
    padding: 0 20px;
}

.fa-heart {
    padding: 0 10px;
}

.navigation ul li:first-of-type {
    border-bottom: 2px solid #adff2f;
}

/*------------
    BUTTONS   
------------*/

.upgrade {
    text-transform: uppercase;
    padding: 10px 25px;
    border-radius: 20px;
    color: #e1e1e2;
    font-weight: 600;
    font-size: 12px;
    background-color: inherit;
    border: 1px solid #e1e1e2;
    margin-right: 4px;
    cursor: pointer;
}

.upgrade:hover {
    padding: 12px 27px;
    box-shadow: 1px #fff;
}

.btn-List {
    color: #a3a3a3;
    font-size: 36px;
    background-color: black;
    border: none;
    padding-left: 15px;
    padding-top: 5px;
    cursor: pointer;
}

.description span {
    padding-top: 5px;
    font-size: 12px;
}

/*------------
    COMMONS   
------------*/

header {
    width: calc(100% - 200px);
    top: 0;
    right: 0;
    height: 60px;
    background-color: rgba(0, 0, 0, 0.9);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: fixed;
    z-index: 20;
}

main {
    height: calc(100vh - 80px);
    display: flex;
    flex-direction: row;
}

.content {
    padding-top: 80px;
    width: calc(100% - 200px);
    overflow-y: auto;
}

.side-Bar {
    display: flex;
    height: calc(100vh - 80px);
    width: 200px;
    background-color: black;
    flex-direction: column;
    flex-shrink: 0;

}

.side-btn img {
    width: 20px;
}

.nav a {
    text-decoration: none;
    color: #878787;
    font-weight: 600;

}


.logo {
    height: 60px;
    display: flex;
    align-items: center;
    gap: 5px;
    flex-grow: 0;

}

.logo>img {
    margin-left: 10px;
    filter: invert(1);
}


.nav {
    display: block;
    width: 100%;
    padding: 5px 15px;
    color: white;
    text-decoration: none;
    font-size: 14px;
    cursor: pointer;
}

.nav:first-of-type {

    border-left: 2px solid #adff2f;
}

footer {
    width: 100%;
    height: 80px;
    background-color: #282828;
    display: flex;
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 10;
}

.btn-Play {
    display: flex;
    align-items: center;
    color: #717171;
    font-weight: 600;
    gap: 5px;
    cursor: pointer;
}

.name-Playlist {
    flex-grow: 2;
    overflow-y: auto;
}


.install a {
    color: #717171;
    text-decoration: none;
    padding-left: 15px;
    font-weight: 600;
    font-size: 14px;
}

.icon {
    width: 100%;
    display: flex;
    gap: 5px;
    align-items: center;
    padding: 5px 0 0 15px;
}

.icon img {
    width: 25px;
    background-color: #717171;
    border-radius: 50%;
    padding: 5px 6px;
}

.user {
    margin-top: auto;
    padding-bottom: 5px;
    flex-grow: 0;
}

.break {
    display: block;
    margin: 10px 0;
    width: 90%;
    text-align: center;
    color: #717171;
}

.navigation {
    width: 100%;
}


.navigation ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    list-style: none;
}

.navigation ul li a {
    text-decoration: none;
    text-transform: uppercase;
    color: #7d7f84;
}

/*------------
    HOVER   
------------*/

.navigation ul li a:hover {
    color: white;
}

.nav span:hover {
    color: white;
}

.btn-Play:hover {
    color: white;
}

.name-Playlist ul li:hover {
    color: white;
}

.install a:hover {
    color: white;
}

.band-name span:hover {
    color: white;
}

.icons i:hover {
    color: white;
}

.player i:hover {
    padding: 2px;
    cursor: pointer;
}

.time-barInside:hover,
.volume-barInside:hover {
    background-color: #adff2f;
}

.time-barInside:hover::after,
.volume-barInside:hover::after {
    content: "";
    display: block;
    background-color: #c1c1c1;
    border-radius: 50%;
    width: 12px;
    height: 12px;
    position: absolute;
    top: -3px;
    right: 0;
}

/*------------
     MAIN   
------------*/

.albums {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}


.imageAlbum img {
    width: 100%;
}

.imageAlbum {
    position: relative;
}

.imageAlbum::after {
    content: "\f144";
    font-family: "Font Awesome 6 Free";
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.4);
    font-size: 60px;
    color: #fff;
    opacity: 0;
    transition: opacity 0.3s;
}

.Round::after {
    border-radius: 50%;
    overflow: hidden;
}

.card:hover .imageAlbum::after {
    opacity: 1;
}


.fa-circle-play:before {
    font-size: 30px;
}


.imageAlbum.Round img {
    border-radius: 50%;
    overflow: hidden;
}

.description {
    padding-top: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.card {
    width: calc(100% / 6 - 10px);
    padding: 10px;
}


/*------------
    FOOTER   
------------*/


footer {
    justify-content: space-between;
    flex-wrap: nowrap;
}

.col-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.now-play img {
    width: 40px;
}

.col-left,
.col-right {
    display: flex;
    align-items: center;
    padding: 0 20px;
}

.col-right {
    justify-content: flex-end;
}


.now-play {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}

.time,
.player {
    display: flex;
    justify-content: center;
    flex-shrink: 2;
}

.player {
    gap: 15px;
    color: white;
    display: flex;
    align-items: center;
    padding-bottom: 10px;
}



.time {
    align-items: center;
}

.time span {
    padding: 0 20px;
    color: white;
    font-size: 12px;
}

.time-bar,
.volume-bar {
    height: 5px;
    width: 500px;
    background-color: #5a5a5a;
}

.volume-bar {
    width: 200px;
}

.time-barInside,
.volume-barInside {
    height: 5px;
    width: 100px;
    background-color: #c1c1c1;
    position: relative;

}

.volume-barInside {
    width: 40px;
}

.volume {
    color: white;
    font-size: 12px;
    display: flex;
    gap: 15px;
    justify-content: flex-end;
    align-items: center;
}

/*------------
  RESPONSIVE   
------------*/
@media screen and (max-width:1220px) {
    .icons {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-left: 5px;
    }

    .time-bar {
        width: 350px;
    }

    .time-barInside {
        width: 70px;
    }

    .volume-bar {
        width: 120px;
    }

    .volume-barInside {
        width: 25px;
    }


}

@media screen and (max-width:700px) {
    .card {
        width: calc(100% / 4 - 10px);
        padding: 10px;
        flex-wrap: wrap;
    }

    .icons {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-left: 5px;
    }

    .time-bar {
        width: 250px;
    }

    .time-barInside {
        width: 40px;
    }

    .volume-bar {
        width: 80px;
    }

    .volume-barInside {
        width: 20px;
    }

}


@media screen and (max-width:600px) {

    .hide {
        display: none;
    }

    #logoS {
        display: none;
    }

    .side-Bar {
        width: 50px;
        align-content: center;
    }

    .install {
        padding-left: 6px;
    }

    .nav.side {
        padding-left: 17px;
    }

    header,
    .content {
        width: calc(100% - 50px);
    }

    .card {
        width: calc(100% / 2 - 10px);
        padding: 10px;
        flex-wrap: wrap;
    }

    .time-bar {
        width: 150px;
    }

    .time-barInside {
        width: 30px;
    }

    .volume-bar {
        width: 30px;
    }

    .volume-barInside {
        width: 5px;
    }

}